body{
    background-color: rgb(198, 233, 241) ;
}

.score{
    display: flex;
    justify-content: center;
    margin: 20px;
}

#win{
    width: 50%;
    text-align: end;
    background-color: rgb(128, 146, 246);
    font-size: 60px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 15px;
    -webkit-text-stroke: 2px #FFFFFF;
}

#loose{
    background-color: rgb(211, 100, 88);
    font-size: 60px;
    width: 50%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 15px;
    -webkit-text-stroke: 2px #FFFFFF;
}

img{
    width: 200px;
    height: 200px;
}

.picture{
    display: flex;
    justify-content: center;
}

.cnop{
    display: flex;
    justify-content: center;
    margin: 10px;
}

#r{
    border-radius: 10px;
    color: rgb(123, 42, 50);
    background-color: rgb(229, 186, 190);
    margin: 5px;
    border-color:brown
}

#p{
    border-radius: 10px;
    color: rgb(123, 42, 50);
    background-color: rgb(229, 186, 190);
    margin: 5px;
    border-color:brown
}

#s{
    border-radius: 10px;
    color: rgb(123, 42, 50);
    background-color: rgb(229, 186, 190);
    margin: 5px;
    border-color:brown
}